/* Стили для модального окна с заказом */
.modal-buy {
    position: fixed;
    top: 35%;
    left: 10%;
    width: 70%;
    border: 4px solid #e0e0e0;
    background: white;
    padding: 15px;

}

.modal-buy__btn-close {
    position: absolute;
    top: 0;
    right: 0;
}

.modal-buy__title {
    font-size: 18px;
    color: rgb(59, 59, 59);
}

.modal-buy__img {
    width: 200px;
    height: auto;
    display: block;
}

.modal-buy__price {
    margin-top: 10px;
    font-size: 24px;
    color: #cc2157;
    display: block;
    margin: 10px;
}

.modal-buy__item-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.modal-buy__item:nth-child(2) {
    width: 100%;
}

.modal-buy__form-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-left: 4px solid #cc2157;
    padding-left: 5px;
    height: 200px;
}

.modal-buy__form-title {
    max-width: 100px;
    text-align: right;
    font-weight: bold;
    color: rgb(59, 59, 59);
    font-size: 15px;
    display: block;
    margin-right: 25px;
    margin-left: 10px;
}

.modal-buy__price+.modal-buy__form-title {
    max-width: 100%;
    margin-top: 20px;
}

#form-comment {
    width: 100%;
}

.modal-buy__form {
    outline-color: transparent;
    background: #eeeeef;
    border: none;
}

.modal-buy__form_comment {
    resize: none;
    width: 95%;
}

.modal-buy__form_tel {
    height: 25px;
    width: 200px;
    margin-top: 20px;

}

.modal-buy__form_submit {
    display: block;
    margin: 25px 0;
    background: #cc2157;
    color: white;
    border: none;
    width: 135px;
    height: 25px;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
}

.modal-buy__form_submit:hover {
    background: #eaeaea;
    color: #cc2157;
    font-weight: bold;
    border: 1px solid #cc2157;
}