/* RESET CSS */
* {
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input,button,select,div {
	outline: none;
	-webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6, ul, ol, p, a {
    margin: 0;
    padding: 0;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}


/* MAIN CSS */

html {
	height: 100%;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.45;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: black;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	background: #444;
	color: white;
}
.body--fixed {
	overflow-y: hidden;
	overflow-x: hidden;
}
.field {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.field__label {
	width: 100%;
	max-width: 100px;
	margin-right: 24px;
	font-size: 14px;
	line-height: 1.2;
	flex: 0 0 auto;
}
.field__input {
	color: black;
	border: 1px solid rgba(238,238,238);
	background: rgba(238,238,238);
	resize: none;
	padding: 6px 10px;
}

textarea.field__input {
	flex: 1 1;
}

.button {
	padding: 6px 26px;
	margin: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid transparent;
	transition: 0.3s;
	font-style: normal;
	text-align: center;
	width: auto;
	cursor: pointer;
}

.button--main {
	background: rgb(188,53,88);
	border-color: rgb(188,53,88);
	color: white;
}
.button--secondary {
	background: rgb(234,234,234);
	border-color: rgb(234,234,234);
	color: black;
}

/* HEADER CSS */

.header {
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background: rgb(247,247,247);
}

.header__wrapper {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
}

.header__cart, .header__cart-button {
	height: 100%;
}
