/* Peage */
.page {
  overflow: hidden;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

/* Product list */
.product-listing-wrapper {
  width: 100%;
  max-width: 980px;
  margin: 10% auto 0;
  padding: 0 15px;
}

/* Main */
.container {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  justify-content: space-between;
  min-height: 197px;
}

/* Product img */
.product-img {
  width: 20%;
}

.product-img img {
  width: 100%;
  max-height: 210px;
}

/* Product content */
.product-content {
  width: 40%;
}

.content-title {
  font-size: 14px;
  font-weight: 700;
  color: #626263;
  margin-top: 15px;
  margin-bottom: 5px;
  line-height: 1;
}

.content-price {
  font-size: 22 px;
  font-weight: 700;
  color: #96969a;
}

/* Buttons */
.product-action {
  width: 20%;
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-top: 2%;
  padding-right: 10%;
}

.product-action button {
  cursor: pointer;
  width: 129px;
  height: 30px;
  line-height: 10px;
  padding: 0 15px;
  border: 3px solid #fff;
  margin: 0 auto;
}

.product-action button:focus {
  outline: 0;
}

/* Order button */
.on-order {
  background-color: #cc2157;
  color: #fff;
}

.on-order:hover {
  background-color: #771232;
}

.on-shoping-list {
  background-color: #eaeaea;
  color: #5f5f5f;
}

/* Shopping batton */
.on-shoping-list:hover {
  background-color: #cbc9c9;
}

.product-action button:first-child {
  margin-bottom: 10px;
}
