/* RESET CSS */
* {
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
input,button,select,div {
	outline: none;
	-webkit-appearance: none;
}
h1, h2, h3, h4, h5, h6, ul, ol, p, a {
    margin: 0;
    padding: 0;
}
*:before, *:after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

*::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}

*:-moz-placeholder {
	color: #666;
	opacity: 1;
}

*::-moz-placeholder {
	color: #666;
	opacity: 1;
}

*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
}


/* MAIN CSS */

html {
	height: 100%;
}

.container {
    width: 100%;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 25px;
    padding-right: 25px;
}
body {
	min-width: 320px;
	position: relative;
	line-height: 1.45;
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	font-family: 'Open Sans', Helvetica, sans-serif;
	color: black;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
	text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	background: #444;
	color: white;
}
.body--fixed {
	overflow-y: hidden;
	overflow-x: hidden;
}
.field {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.field__label {
	width: 100%;
	max-width: 100px;
	margin-right: 24px;
	font-size: 14px;
	line-height: 1.2;
	flex: 0 0 auto;
}
.field__input {
	color: black;
	border: 1px solid rgba(238,238,238);
	background: rgba(238,238,238);
	resize: none;
	padding: 6px 10px;
}

textarea.field__input {
	flex: 1 1;
}

.button {
	padding: 6px 26px;
	margin: 0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 400;
	border: 1px solid transparent;
	transition: 0.3s;
	font-style: normal;
	text-align: center;
	width: auto;
	cursor: pointer;
}

.button--main {
	background: rgb(188,53,88);
	border-color: rgb(188,53,88);
	color: white;
}
.button--secondary {
	background: rgb(234,234,234);
	border-color: rgb(234,234,234);
	color: black;
}

/* HEADER CSS */

.header {
	position: sticky;
	left: 0;
	top: 0;
	width: 100%;
	height: 50px;
	background: rgb(247,247,247);
}

.header__wrapper {
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: flex-end;
}

.header__cart, .header__cart-button {
	height: 100%;
}
/* CART CSS */

.cart {
	position: relative;
}
.cart .cart__wrapper {
	max-height: 0;
	opacity: 0;
}
.cart--visible .cart__wrapper {
	max-height: 500px;
	opacity: 1;
	pointer-events: auto;
}
.cart__wrapper {
	background: white;
	pointer-events: none;
	-webkit-transition: 0.3s;
	-o-transition: 0.3s;
	transition: 0.3s;
	position: absolute;
	right: 0;
	top: 0;	
	height: auto;
	overflow-y: auto;
	width: 340px;
	background: rgb(247,247,247);
	-webkit-box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
	box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
	padding: 15px;
}

.cart__header {
	margin: -15px -15px 15px;
	padding: 15px;
	font-size: 20px;
	background: rgb(144,144,144);
}
.cart__footer {
	margin-top: 20px;
}

.cart-item {
	color: black;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.2;
}
.cart-item:not(:last-child) {
	margin-bottom: 20px;
}
.cart-item__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	position: relative;
}
.cart-item__remove {
	position: absolute;
	right: -6px;
	top: -6px;
	height: 20px;
	font-size: 20px;
	padding: 0;
	width: 20px;
	background: none;
	color: darkred;
	flex: 0 0 auto;
	line-height: 0;
	font-weight: bold;
}
.cart-item__image {
	width: 138px;
	height: 130px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	flex: 0 0 auto;
	background: white;
	margin-right: 16px;
}

.cart-item__title {
	padding-right: 30px;
}

.cart-item__price {
	font-size: 20px;
	margin-top: 10px;
}

.cart-item__image img {
	width: 100%;
	max-width: 100%;
}

/* PRODUCT CSS */

.product-list {
	width: 100%;
	max-width: 762px;
	padding: 20px;
	margin-left: auto;
	margin-right: auto;
}

.product-item {
	font-size: 14px;
}
.product-item:not(:last-child) {
	margin-bottom: 20px;
}
.product-item__wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.product-item__image {
	width: 170px;
	height: 170px;
	flex: 0 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	background: white;
}
.product-item__image img{
	height: auto;
	width: 100%;
	max-width: 100%;
}
.product-item__content {
	flex: 1 1 auto;
	padding-left: 15px;
	padding-right: 20px;
}
.product-item__price {
	font-weight: bold;
	font-size: 20px;
	margin-top: 5px;
}
.product-item__buttons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	flex: 0 0 auto;
	width: 140px;
}
.product-item__buttons .button:not(:last-child) {
	margin-bottom: 20px;
}

/* POPUP CSS */
.overlay {
	position: fixed;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background: rgba(0,0,0,0.5);
}

.popup {
	position: fixed;
	left: 50%;
	top: 20%;
	width: 100%;
	height: 360px;
	max-width: 900px;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	color: black;
}

.popup__wrapper {
	width: 100%;
	position: relative;
}

.popup__close {
	position: absolute;
	right: 0;
	top: 0;
	background: none;
	color: darkred;
	font-size: 20px;
	font-weight: bold;
	height: 50px;
	width: 50px;
}

.popup__form {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	background: white;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 20px 20px 40px;
	box-shadow: 0px 4px 12px rgba(0,0,0,0.3);
}

.popup__title {
	width: 100%;
	flex: 0 0 auto;
	font-size: 20px;
	margin-bottom: 20px;
}

.popup__product {
	width: 100%;
	max-width: 200px;
	margin-right: 40px;
	padding-right: 40px;
	border-right: 4px solid rgb(188,53,88);
}

.popup__product-image {
	flex: 0 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}
.popup__product-image img {
	width: 100%;
	max-width: 100%;
}

.popup__product-price {
		font-size: 26px;
		font-weight: bold;
		margin-top: 10px;
		text-align: center;
		color: rgb(188,53,88);
}
.popup__content {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-bottom: 20px;
}

.popup__textarea {
	flex: 1 1;
}
.popup__footer {
	width: 100%;
	padding-left: 190px;
}

.popup__submit {
	margin-top: 20px;
}
