.product-basket-popup {
    position: absolute;
    width: 350px;
    top: -167px;
    right: -83px;
    background-color: var(--color-standart-white);
}

.product-basket-popup__title {
    font-weight: normal;
    padding: 20px 0 20px 20px;
    color: var(--color-standart-white);
    background-color: var(--color-standart-black-opacity30);
}

.product-basket-popup__list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-basket-popup__item {
    display: flex;
    position: relative;
    padding: 0 30px 15px 15px;
}

.product-basket-popup__item-description {
    padding-left: 10px;
    font-weight: bold;
}

.product-basket-popup__item-name {
    font-size: 15px;
    color: var(--color-dark-gray);
}

.product-basket-popup__item-price {
    color: var(--color-light-gray);
}

.product-basket-popup__item-button {
    position: absolute;
    width: 10px;
    height: 10px;
    top: 20px;
    right: 9px;
    background-color: transparent;
    border: none;
}

.product-basket-popup__item-button::before {
    content: "";
    position: absolute;
    top: 4px;
    left: -1px;
    width: 13px;
    height: 3px;
    background-color: var(--collor-standart-crimson);
    transform: rotate(45deg);
}

.product-basket-popup__item-button::after {
    content: "";
    position: absolute;
    top: 4px;
    left: -1px;
    width: 13px;
    height: 3px;
    background-color: var(--collor-standart-crimson);
    transform: rotate(-45deg);
}

.product-basket-popup__item-button:hover::before,
.product-basket-popup__item-button:hover::after {
    background-color: var(--collor-standart-crimson-opacity70);
}

.product-basket-popup__link {
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--color-standart-white);
    width: 160px;
    padding: 15px 0 15px 0;
    background-color: var(--collor-standart-crimson);
    margin:10px 0 20px 15px;
}

.product-basket-popup__link:hover {
    color: var(--color-standart-white-opacity70);
}

.product-basket-popup__link:active {
    background-color: var(--collor-standart-crimson-opacity70);
}
