
*, :after, :before {
  outline: none;
  box-sizing: inherit;
}

html {
  font-family: sans-serif, Arial, Calibri, "Times New Roman";
  box-sizing: border-box;
}

fieldset {
  border: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.btn--primary {
  background: #CC2157;
  color: #fff;
}

.btn--secondary {
  background: #EEEEEF;
  color: #5C5C5D;
}

.btn--high {
  height: 50px;
}

.btn--wide {
  width: 190px;
}
