/*
  --primary-color: #CC2157;
  --secondary-color: #EEEEEF;
  --primary-text-color: #5C5C5D;
*/

/* Main styles */

*, :after, :before {
  outline: none;
  box-sizing: inherit;
}

html {
  font-family: sans-serif, Arial, Calibri, "Times New Roman";
  box-sizing: border-box;
}

fieldset {
  border: none;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 30px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  font-size: 16px;
}

.btn--primary {
  background: #CC2157;
  color: #fff;
}

.btn--secondary {
  background: #EEEEEF;
  color: #5C5C5D;
}

.btn--high {
  height: 50px;
}

.btn--wide {
  width: 190px;
}

/* Product styles */

.product-listing-wrapper {
  max-width: 1300px;
  margin: 0 auto;
  padding-top: 300px;
  padding-bottom: 300px;
}

.product {
  display: flex;
  flex-grow: 1;
  margin: 0 auto;
  max-width: 800px;
}

.product-image {
  min-width: 175px; /* ie11 fix */
  width: 175px;
  height: 175px;
  position: relative;
}

.product-image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  object-fit: contain;
}

.product-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px 10px;
  color: #5C5C5D;
  flex-grow: 1;
}

.product-info__name {
  display: block;
  padding-bottom: 5px;
  font-size: 16px;
}

.product-info__price {
  font-size: 20px;
}

.product-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

/* Cart-popup styles */
.cart-popup {
  min-height: 120px;
  height: auto;
  width: 100%;
  max-width: 340px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .35);
  position: absolute;
  top: 50px;
  right: 20%;
  z-index: 99;
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}

.cart-popup:after {
  content: '';
  position: absolute;
  right: 80px;
  top: -10px;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #919191;
  clear: both;
}

.cart-popup.opened {
  visibility: visible;
  opacity: 1;
}

.cart-popup-inner {
  padding-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.cart-popup__heading {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 60px;
  background: #919191;
  color: #fff;
  font-size: 18px;
  margin-left: -20px;
  margin-right: -20px;
  padding-left: 20px;
  padding-right: 20px;
}

.cart-popup-item {
  display: flex;
  padding-top: 30px;
  padding-bottom: 30px;
}

.cart-popup-item__image {
  width: 140px;
  min-width: 140px;
  height: 100px;
  position: relative;
}

.cart-popup-item__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  object-fit: contain;
}

.cart-popup-item-info {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  padding-right: 15px;
  padding-left: 5px;
}

.cart-popup-item-info__delete {
  position: absolute;
  right: 5px;
  top: 0;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background-image: url('/assets/images/close.svg#close');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cart-popup-item-info__name {
  color: #000;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.1;
}

.cart-popup-item-info__price {
  display: block;
  color: #5C5C5D;
  font-size: 14px;
  line-height: 1.1;
  padding-top: 5px;
}

/* order-popup */
.order-popup {
  min-height: 400px;
  height: auto;
  max-width: 900px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 101;
  background: #fff;
  box-shadow: 0 3px 5px rgba(0, 0, 0, .35);
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.order-popup.opened {
  visibility: visible;
  opacity: 1;
}

.order-popup__name {
  display: block;
  padding-bottom: 15px;
  font-size: 18px;
  font-weight: 600;
}

.order-popup-close {
  top: 5px;
  right: 5px;
  position: absolute;
  width: 10px;
  height: 10px;
  background-image: url('/assets/images/close-gray.svg#close');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
}

.order-popup-inner {
  display: flex;
  flex-direction: row;
}

.order-popup-inner--left {
  display: flex;
  flex-direction: column;
  max-width: 25%;
  flex-basis: 25%;
}

.order-popup-inner--right {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  flex-basis: 75%;
}

.order-popup-product {
  display: flex;
  flex-direction: column;
}

.order-popup-product__price {
  font-size: 24px;
  color: #CC2157;
}

.order-popup-product__image {
  width: 170px;
  height: 130px;
  min-width: 170px;
  position: relative;
  overflow: hidden;
}

.order-popup-product__image img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  object-fit: contain;
}

.order-popup-product__comment {
  display: block;
  border-left: 3px solid #CC2157;
}

.order-popup-product__comment label {
  display: block;
  padding-right: 15px;
  float: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
}

.order-popup-product__comment textarea {
  resize: none;
  width: 485px;
  height: 120px;
  background: #EEEEEF;
  color: #000;
  border: none;
  padding: 20px;
}

.order-popup-product__phone {
  display: block;
  padding-left: 84px;
  padding-top: 15px;
}

.order-popup-product__phone label {
  display: block;
  padding-right: 15px;
  float: left;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.1;
}

.order-popup-product__phone input {
  background: #EEEEEF;
  color: #000;
  border: none;
  height: 30px;
  max-width: 190px;
  width: 100%;
  padding-top: 3.5px;
  padding-bottom: 3.5px;
  padding-left: 10px;
}

.order-popup__submit {
  margin-left: 220px;
}
