.popup {
    opacity: 1;
    position: fixed;
    top: 1rem;
    right: 3.3%;
    border-radius: 20px;
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: ease .5s;
    cursor: default;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

.popup header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 30px;
    padding-top: .5rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    color: #fff;
    background-color: rgb(66, 61, 61);
}

.popup header div {
    margin-left: 1rem;
}

.popup_content_wrap {
    width: 100%;
    display: flex;
    justify-content: center;
}

.popup_content_wrap .title{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    font-weight: 600;
}

.popup_content_wrap div{
    width: auto;
}

.popup_info_wrap {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.popup_info_wrap div {
    margin-top: 2rem;
    width: 150px;
    font-size: 14px;
}

.popup_info_wrap img {
    width: 150px;
    height: 100px;
}