.btn {
  --color-bg: var(--color-accent);
  --color: #fff;
  border: none;
  border-radius: 0;
  font-size: .8rem;
  background-color: var(--color-bg);
  color: var(--color);
  padding: .3rem 1rem;
  text-align: center;
}

.btn-cart {
  --color-bg: var(--color-light);
  --color: var(--color-main);
}

.btn-close {
  --color-bg: transparent;
  --color: var(--color-accent);
  position: absolute;
  top: 0;
  right: 0;
  padding: .5rem;
  font-size: 1.2rem;
  font-weight: 700;
}
