.popup {
  visibility: hidden;
  opacity: 0;
  width: 100%;
  min-width: 850px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  transition: visibility 0.5s, opacity 0.5s ease;
}

.popup_opened {
  visibility: visible;
  opacity: 1;
}

.popup_basket {
  width: auto;
  max-width: initial;
  min-width: initial;
  position: fixed;
  top: 10px;
  left: 95%;
}

.popup__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.popup__body {
  width: 300px;
  background: #f7f7f7;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  box-sizing: border-box;
  z-index: 1;
  position: absolute;
  top: 25px;
  right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.popup__body_order {
  width: 80%;
  max-width: 850px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 5px solid #eeeeef;
  padding: 15px;
  box-sizing: border-box;
}

.popup__header {
  box-sizing: border-box;
  position: relative;
}

.popup__header_basket {
  background-color: #919191;
  color: white;
  padding: 15px;
}

.popup__header_basket::before {
  content: '';
  position: absolute;
  right: 20%;
  top: -19px;
  border: 10px solid transparent;
  border-left: 10px solid #919191;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.popup__header_order {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popup__title {
  font-size: 18px;
  font-weight: normal;
  margin: 0;
}

.popup__basket-description {
  display: flex;
  padding: 0 15px;
  gap: 10px;
}

.popup__image {
  height: 100%;
}

.popup__image_basket {
  width: 100px;
}

.popup__image_order {
  width: 200px;
}

.popup__description-product {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__product-title {
  font-weight: normal;
  font-size: 14px;
  margin: 0;
}

.popup__product-title_order {
  font-weight: bold;
  font-size: 18px;
}

.popup__price {
  margin: 0;
  margin-top: auto;
}

.popup__price {
  font-size: 16px;
}

.popup__price_order {
  font-size: 20px;
  color: #cc2157;
  font-weight: bold;
}

.popup__button {
  background-color: transparent;
}

.popup__button_close {
  color: #cc2157;
  margin-bottom: auto;
  font-size: 29px;
  line-height: 1;
}

.popup__button_go-basket {
  background-color: #cc2157;
  width: 60%;
  height: 40px;
  margin: 0 0 15px 15px;
  color: white;
}

.popup__button_order {
  background-color: #cc2157;
  width: 150px;
  height: 40px;
  color: white;
  grid-column: 2/3;
  font-size: 14px;
}

.popup__comment-wrapper {
  display: flex;
  gap: 15px;
}

.popup__order-description {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.popup__comment {
  display: flex;
  gap: 15px;
  border-left: 3px solid #cc2157;
  width: 100%;
  box-sizing: border-box;
}

.popup__form {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 2fr;
}

.popup__input-label {
  font-size: 14px;
  text-align: right;
}

.popup__input-label_phone {
  align-self: center;
}

.popup__input {
  background-color: #eeeeef;
  border: none;
}

.popup__input_comment {
  width: 100%;
  box-sizing: border-box;
}

.popup__input_phone {
  width: 150px;
  height: 25px;
}
